importFrom("grDevices", "dev.new")
importFrom("graphics", "legend", "lines", "points")
importFrom("stats", "ccf", "runif", "sd", "na.omit", "setNames", "complete.cases")
importFrom("utils", "combn", "read.csv", "write.table")
export(susy)
S3method(plot, susy)
S3method("[", susy)
S3method(print, susy)
S3method(as.data.frame, susy)
